@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    background-color: #323232;
}

.btn {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 8px 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    border: 2px solid #d9d9d9d9;
    background: #292525;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: outline 0.2s linear, border 0.2s linear, color 0.2s linear, background 0.2s linear;
}

.btn:focus {
    outline: #737373;
    border: #737373;
    background: #292525;
}

.btn:hover {
    background: #fff;
    color: #000;
}

.btn:active {
    background: #ADADAD;
    border: #ADADAD;
    color: #000;
}


.buttons_lk {
    justify-content: space-between;
    gap: 10px;
    margin-right: 20px;
    padding-bottom: 10px;
}

.modal-hidden {
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    min-height: 100%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    display: none;
    z-index: 99;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    /* см. ниже /*/
    align-items: center;
    /* Чтобы окно не прилипало к границе
    браузера установим отступы */

}

.modal {
    border-radius: 15px;
    margin: 50px auto;
    flex-shrink: 0;
    flex-grow: 0;
    background: #fff;
    width: 380px;
    height: 430px;
    max-width: 100%;
    overflow: visible;
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    transform: scale(0.9);
    opacity: 0;
}

.modal_form {
    background-color: #2b2b2b;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: 35px 30px 15px 30px;
    border-radius: 15px;
}

.modal_form_title {
    margin: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 18px;
}

.form_label {
    padding-left: 10px;
    color: #bbb;
    font-size: 10px;
    line-height: normal;
    margin-bottom: 5px;
}

.form_input {
    height: 34px;
    border: 1px solid #1f1f1f;
    border-radius: 10px;
    background: #1f1f1f;
    outline: none;
    color: #fff;
    font-size: 12px;
    margin-bottom: 15px;
}

.form_input_com {
    height: 120px;
    border: 1px solid #1f1f1f;
    border-radius: 10px;
    background: #1f1f1f;
    outline: none;
    color: #fff;
    font-size: 12px;
    margin-bottom: 15px;
}

.submit_btn {
    padding: 0;
    cursor: pointer;
    width: 100px;
    height: 36px;
    border: 2px solid #890000;
    border-radius: 10px;
    background: #111;
    margin-left: 110px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    transition: color 0.2s linear, background 0.2s linear;
}

.submit_btn:focus {
    background: #890000;
    color: #000;
    outline: #890000;
}

.submit_btn:hover {
    background: #890000;
    color: #000;
}

.submit_btn:active {
    background: #890000;
    color: #fff;
}


.info_cars_title {
    margin: 0;
    padding-left: 10px;
    color: #bbb;
    font-size: 10px;
    line-height: normal;
    margin-bottom: 5px;
}


.cars_item {
    flex-direction: column;
}

.cars_item_subtitle {
    color: #bbb;
    font-size: 10px;
    font-weight: 200;
    line-height: normal;
    justify-content: center;
    margin-bottom: 5px;
}

.info_cars_list {
    column-gap: 18px;
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

/* header */

.header {
    background-color: #F7900A;
}

.header-fio {
    align-items: center;
    justify-content: end;

}

.fio_lk {
    margin: 0;
    margin-top: 17.5px;
    margin-bottom: 17.5px;
    margin-right: 40px;
    color: #000;
    font-size: 25px;
    line-height: normal;

    background-image: url("../img/user-icon-lk.svg");
    background-repeat: no-repeat;
    padding-left: 30px;
}

.container-bid {
    width: 339px;
    height: 1016px;
    background-color: #1F1F1F;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 15px;
    gap: 10px;
}

.bid {
    margin: 0;
    color: #bbb;
    font-size: 30px;
    line-height: normal;

    background-image: url("../img/bid.svg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
}



.prompt {
    margin: 0;
    color: #bbb;
    font-size: 30px;
    line-height: normal;
    position: relative;

    background-image: url("../img/prompt.svg");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 50px;
}


.text-with-circle {
    position: relative;
    margin: 0;
}

.circle-number {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #3498db;
    border-radius: 50%;
    margin-left: 5px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-weight: bold;
}

.bid_ul {
    list-style: none;
    margin: 0;
    padding: 15px;
    border-radius: 10px;

    background-color: #BBB;
    width: 130px;
    height: 200px;
    margin-left: 66px;
}

.bid_body {
    /* padding-top: -10px; */
    border-radius: 0px 0px 10px 10px;
    background-color: #1F1F1F;
    min-height: 273px;
    display: flex;
    flex-direction: column;
    position: relative;

    margin-top: -15px;
    z-index: -1;
    padding-top: 20px;
    padding-left: 10px;
    gap: 10px;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}


.active {
    font-size: 20px;
    line-height: normal;
    margin-bottom: 12px;
}

.history {
    font-size: 20px;
    line-height: normal;
}

.bid_list {
    list-style: none;
}

.bid_li:not(:last-child) {
    margin-bottom: 17px;
}

.bid_header {
    font-size: 25px;
    line-height: normal;
    height: 37px;
    min-width: 1000px;
    background-color: #bbb;
    border-radius: 20px;
    padding-left: 30px;
}

.description_name,
.description_info,
.vin_name,
.vin_info,
.stateNumber_name,
.stateNumber_info,
.mileAge_name,
.mileAge_info,
.work_name,
.work_info,
.dateTime_name,
.dateTime_info,
.time_name,
.time_info {
    margin: 0;
}


.description_name,
.stateNumber_name,
.vin_name,
.mileAge_name,
.work_name,
.dateTime_name,
.time_name {
    color: #d9d9d9;
    font-size: 20px;
    line-height: normal;
}

.description_info,
.vin_info,
.stateNumber_info,
.mileAge_info,
.work_info,
.dateTime_info,
.time_info {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

.description_info {
    max-width: 300px;
    height: auto;
}

.prompt_list {
    list-style: none;
}

.prompt_li:not(:last-child) {
    margin-bottom: 17px;
}

.prompt_header {
    font-size: 25px;
    line-height: normal;
    height: 37px;
    min-width: 1000px;
    background-color: #bbb;
    border-radius: 20px;
    padding-left: 30px;
}

.prompt_body {
    border-radius: 0px 0px 10px 10px;
    background-color: #1F1F1F;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    position: relative;

    margin-top: -15px;
    z-index: -1;
    padding-top: 20px;
    padding-left: 10px;
}

.burger-menu {
    display: none;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #000;
    margin-left: 10px;
}

@media (max-width: 1025px) {
    .burger-menu {
        display: block;
    }

    .container-bid {
        display: none;
    }

    /* .container-bid {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

    .container-bid p {
        margin: 10px 0;
    }

    /* .container-bid-view,
    .container-prompt-view {
        display: none;
    } */

    .bid_header,
    .prompt_header {
        min-width: 500px;
    }

    .bid_list,
    .prompt_list {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container-bid-view {
        margin: 0 auto;
    }

    .container-prompt-view {
        margin: 0 auto;
    }
}