@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    background-color: black;
}

.container {
    max-width: 1380px;
    margin: 50px auto;
    background-color: #292525;
    border-radius: 5px;
    padding-bottom: 80px;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    padding: 13px 30px 0px;
}

.header__info-link {
    color: #d9d9d9;
    font-size: 12px;
    line-height: normal;
    gap: 2px;
    display: flex;
    transition: color .1s linear;
}

.header__info-link svg {
    fill: #d9d9d9;
    transition: fill .1s linear;
}

.header__info-link:focus-visible {
    outline: 1px solid #000;
    color: #fff;
}

.header__info-link:focus-visible svg {
    fill: #fff;
}

.header__info-link:hover:not(:focus-visible) {
    color: #fff;
}

.header__info-link:hover:not(:focus-visible) svg {
    fill: #fff;
}


.header__info-link:active:not(:focus-visible) {
    color: #ADADAD;
}

.header__info-link:active:not(:focus-visible) svg {
    fill: #ADADAD;
}



.header__info {
    display: flex;
    gap: 60px;
}

.header__info-num {
    font-weight: 700;
}

/* nav */

.nav {
    background-color: #F7900A;
    margin: 15px 20px 0px;
    border-radius: 12px;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    margin-bottom: 50px;
}


.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav__logo {
    display: block;
}

.btn {
    display: flex;
    align-items: center;
    background-color: #292525;
    border: 2px solid #D9D9D9;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    font-weight: 700;
    line-height: normal;
    padding: 8px 10px;
    cursor: pointer;
    transition: border-color .1s linear, background-color .1s linear, color 0.1s linear;
}

.btn:focus-visible {
    border-color: #737373;
    outline: none;
}

.btn:hover:not(:focus-visible) {
    border-color: #d9d9d9;
    background-color: #fff;
    color: #292525;
}

.btn:active:not(:focus-visible) {
    border-color: #ADADAD;
    background-color: #ADADAD;
    color: #292525;
}

.nav__btn {
    height: 16px;
    border-radius: 8px;
    font-size: 14px;
    margin: auto 0;
    border-radius: 8px;
}

.nav__items-link {
    font-weight: 600;
    font-size: 20px;
    line-height: normal;
    transition: color .1s linear;
}

.nav__items-link:focus-visible {
    color: #292525;
    text-decoration: underline #292525;
    outline: none;
}

.nav__items-link:hover:not(:focus-visible) {
    color: #292525;
    text-decoration: underline #292525;
}

.nav__items-link:active:not(:focus-visible) {
    color: #000;
    text-decoration: underline #000;
}

/* about */
.section {
    background-color: #161616;
    border-radius: 5px;
    margin: 0 40px 40px;
}

.section__title {
    margin: 0;
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    line-height: normal;
    margin-bottom: 40px;
}

.section-about__container {
    padding: 20px 40px 0px;
    margin-bottom: 45px;
}

.section-about__desc-img {
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
}

.section-about__text {
    color: #d9d9d9;
    font-size: 18px;
    line-height: normal;
}


.section-about__subtitle {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: normal;
}

.section-about__list-items {
    font-size: 16px;
}

.section-about__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-about__list-reviewloc {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 25px;
}

.section-about__subtitle-reviewloc {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}

.review-loc {
    width: 560px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

/* services */

.section-services__title {
    padding: 20px 0 0 40px;
}

.section-services__container {
    padding: 0 20px 60px;
    max-width: 1300px;
}

.section-services__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.section-services__list-items {
    width: 250px;
    height: 360px;
    border-radius: 15px;
    border: 2px solid #bbb;
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 30px 6px 15px;
}

.section-services__item-list-items::before {
    color: red;
    content: "•";
    padding-right: 8px;
}

.section-services__item-title,
.section-services__item-text,
.section-services__item-price {
    margin: 0;
}

.section-services__item-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.section-services__item-title {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;
}

.section-services__item-text {
    color: #d9d9d9;
    font-size: 13px;
    line-height: normal;
    margin-bottom: 8px;
}

.section-services__item-list-items {
    color: #fff;
    font-size: 13px;
    line-height: normal;
}

.section-services__item-price {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
}

/* stock */

.section-stock__container {
    padding: 20px 40px 50px;
}

.section-stock__title {
    margin-bottom: 20px;
}

.section-stock__desc {
    margin: 0;
    color: #bbb;
    font-size: 15px;
    line-height: normal;
    margin-bottom: 40px;
}

.section-stock__container-stocks {
    max-width: 1220px;
}

.section-stock__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.section-stock__items {
    width: 250px;
    height: 330px;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 8px;
}

.section-stock__items-1 {
    background-image: url("/img/stock_1.png");
}

.section-stock__items-2 {
    background-image: url("/img/stock_2.png");
}

.section-stock__items-3 {
    background-image: url("/img/stock_3.png");
}

.section-stock__items-4 {
    background-image: url("/img/stock_4.png");
}

.section-stock__items-title,
.section-stock__items-time,
.section-stock__items-price {
    margin: 0;
}

.section-stock__items-title {
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    line-height: normal;
}

.section-stock__items-desc {
    display: flex;
    justify-content: space-between;
}

.section-stock__items-container-time {
    background-color: #1f1f1f;
    border-radius: 20px;
    padding: 3px 7px;
    margin: auto 0;
    height: 19px;
}

.section-stock__items-time {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;

}

.section-stock__items-price {
    color: #fff;
    font-size: 25px;
    line-height: normal;
}

.section-stock__btn {
    border-radius: 22px;
    width: 100px;
    height: 14px;
    font-size: 12px;
    justify-content: center;
}

/* works */

.section-works__title {
    padding: 20px 0px 0px 40px;
    margin-bottom: 10px;
}

.section-works__list {
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 0 30px 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-works__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background-color: #504F4F;
    padding: 15px 50px 55px;
}

.section-works__items-subtitle {
    margin: 0;
    color: #fff;
    text-align: center;
    max-width: 480px;
    font-size: 30px;
    font-weight: 600;
    line-height: normal;
}

.section-works__items-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 40px;
}

.section-works__items-list-items-subtitle {
    margin: 0;
    color: #d9d9d9;
    font-size: 30px;
    line-height: normal;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
}

/* footer */
.footer {

    background-color: #292525;
    padding: 20px 60px 30px;

}

.footer__container {
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__down-info {
    display: flex;
    gap: 126px;
}

.footer__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 15px;
}

.footer__upper {
    display: flex;
    justify-content: space-between;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
}

.footer__contacts-link {
    color: #d9d9d9;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color .1s linear;
}

.footer__contacts-link svg {
    fill: #d9d9d9;
    transition: fill .1s linear;
}

.footer__contacts-link:focus-visible {
    outline: 1px solid #000;
    color: #fff;
}

.footer__contacts-link:focus-visible svg {
    fill: #fff;
}

.footer__contacts-link:hover:not(:focus-visible) {
    color: #fff;
}

.footer__contacts-link:hover:not(:focus-visible) svg {
    fill: #fff;
}


.footer__contacts-link:active:not(:focus-visible) {
    color: #ADADAD;
}

.footer__contacts-link:active:not(:focus-visible) svg {
    fill: #ADADAD;
}


.footer__item-link {
    color: #d9d9d9;
    font-size: 15px;
    line-height: normal;
    transition: color 0.1s linear;
}

.footer__item-link:focus-visible {
    color: #ADADAD;
    outline: transparent;
}

.footer__item-link:hover:not(:focus-visible) {
    color: #adadad;
}

.footer__item-link:active:not(:focus-visible) {
    color: #fff;
}

.footer__down-hr {
    background-color: #d9d9d9;
}

.footer__down-text {
    color: #fff;
    font-size: 15px;
    line-height: normal;
}

/* modal*/
.modalBackground {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    /* background: rgba(0, 0, 0, 0.8); */
    backdrop-filter: blur(5px);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.modalActive {
    max-width: 380px;
    /* max-height: 620px; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: #2A2A2A;
    padding: 10px 30px 20px;
    transform: scale(0.9);
    gap: 10px;
}

.modalForm {
    display: flex;
    flex-direction: column;
}

/* form in modal-log*/
.form__name {
    margin: 0 0 15px;
    color: #fff;
    font-size: 22px;
    line-height: normal;
    font-weight: 600;
    text-align: center;
}

.form__name-review {
    text-align: left;
    padding-top: 25px;
}

.form__label {
    padding-left: 10px;
    color: #bbb;
    font-size: 12px;
    line-height: normal;
    margin-bottom: 5px;
}

.label__car-info {
    text-align: center;
}

.form__input {
    width: 318px;
    height: 34px;
    border-radius: 10px;
    background-color: #1f1f1f;
    border: none;
    outline: inherit;
    color: #fff;
    font-size: 12px;
}

.form__select {
    height: 34px;
    border-radius: 10px;
    background-color: #1f1f1f;
    border: none;
    outline: inherit;
    color: #fff;
    font-size: 12px;
}


.form__input-com {
    /* max-height: 120px; */
    max-width: 318px;
    border: 1px solid #1f1f1f;
    border-radius: 10px;
    background: #1f1f1f;
    outline: none;
    color: #fff;
    font-size: 12px;
}

.input__car-info {
    width: 150px;
}

.form__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 10px;
}

.label__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 18px;
}

.form__list-items {
    display: flex;
    flex-direction: column;
}

.form__btn {
    background-color: #111;
    border-radius: 10px;
    border: 2px solid #890000;
    color: #fff;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    align-self: center;
    cursor: pointer;
    transition: color 0.1s linear, background-color 0.1s linear;
}

.form__btn:focus-visible {
    background-color: #890000;
    color: #000;
}

.form__btn:hover:not(:focus-visible) {
    background-color: #890000;
    color: #000;
}

.form__btn:active:not(:focus-visible) {
    background-color: #890000;
    color: #fff;
}

/* links in modal*/

.link-telegram,
.link-reg {
    align-self: center;
}

.link-reg {
    color: #828282;
    font-size: 12px;
    line-height: normal;
}

/*error_message*/
.container_error {
    position: absolute;
    left: 45px;
    z-index: 5;
    background-color: red;
    border-radius: 5px;
    min-width: 300px;
    top: -100vh;
    animation: fadeOut 4s;
}

.error_message {
    padding: 15px;
    margin: 0;
    text-align: center;
    position: relative;
    z-index: 5;
    color: white;


}

/* keyframe*/

@keyframes fadeOut {
    0% {
        top: -100vh;
    }

    25% {
        top: -25vh;
    }

    50% {
        top: -25vh;
    }

    75% {
        top: -25vh;
    }

    100% {
        top: -100vh;
    }
}

/* media запросы */

@media(max-width: 1025px) {
    .container {
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .footer {
        border-top: 1px solid #D9D9D9;
    }

    .section-works__items-list {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .section-works__items-subtitle {
        margin-bottom: 30px;
    }

    .section__title {
        text-align: center;
        padding-left: 0;
    }
}

@media(max-width: 769px) {
    .section {
        margin-right: 0px;
        margin-left: 0px;
    }

    .nav__logo {
        display: none;
    }

    .nav {
        padding: 9px 20px;
    }

    .section-about__title {
        margin-bottom: 30px;
    }
}

@media(max-width: 670px) {

    .review-loc {
        width: 288px;
        height: 250px;
    }

    .footer__upper {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .nav__items-link {
        font-size: 15px;
    }

    .nav__btn {
        font-size: 12px;
    }
}

@media(max-width: 576px) {
    .header {
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
    }

    .section-works__items {
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer {
        padding-left: 45px;
        padding-right: 45px;
    }
}

@media(max-width: 517px) {
    .header__info-link {
        font-size: 10px;
    }

    .nav__items-link {
        font-size: 10px;
    }

    .nav__btn {
        font-size: 8px;
    }

    .footer__item-link {
        font-size: 10px;
    }

    .section-works__items-subtitle {
        font-size: 24px;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
    }

    .nav__btn {
        height: auto;
    }

    .footer__down-text {
        font-size: 12px;
    }

    .footer__down-info {
        gap: 0;
        flex-direction: column;
        align-items: center;
    }

    .btn {
        padding: 5px 6px;
    }

    .section-about__subtitle {
        font-size: 20px;
    }

    .section-about__text {
        font-size: 13px;
    }

    .section-stock__desc {
        font-size: 10px;
    }

    .section-works__items {
        padding-bottom: 20px;
    }

}

@media(max-width: 321px) {
    .container {
        padding-bottom: 0px;
    }

    .section-works {
        margin-bottom: 20px;
    }

    .footer__contacts-link {
        font-size: 15px;
    }

    @keyframes fadeOut {
        0% {
            top: -100vh;
        }

        25% {
            top: -20vh;
        }

        50% {
            top: -20vh;
        }

        75% {
            top: -20vh;
        }

        100% {
            top: -100vh;
        }
    }
}